body {
    overflow-x: hidden;
}
@media only screen and (max-width: 767px){
    
    .burger {
        margin-top: -10px;
        display: block;
        margin-right: 2rem; 
        cursor: pointer;
        z-index: 2;
    
    }
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 110vh;
        top: 15vh;
        background-color: #141414;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translate(100%);
        transition: transform 0.5s ease-in;

    }
    .nav-active {
        transform: translate(0);
    }
    nav ul li{
        margin-top: 3rem;
        margin-bottom: 2rem;
      
    }
    .intro svg {
        display: none;
    }
    .toggle .line1{
     transform: rotate(-45deg) translate(-6.8px,8px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-6.8px,-8px);
    }
    .intro .row {
        margin-left: auto; 
        margin-right: auto; 
        
        text-align: center;
    }
    .intro .col-md-4 img{
        margin-top: 1;
        margin-bottom: 2rem;
    }
    .intro .col-md-6 h2{
        margin-top: 0;
        
    }
    .intro .col-md-6 h3{
        font-size: 1.4rem;
        
    }
    


/*Prjects Page*/

.projects .col-md-4 {
    margin-top: 2rem;
    
}
.projects .col-md-4 .card {
    width: 75%;
}

/*contact page*/
.form {
    border: 1px red solid;
}
.contact form input, .contact form textarea{
    width: 20rem;
    
}
.contact {
    margin-top: 2rem;
}
}
@media only screen and (max-width: 767px){

    footer {
        margin-top: 2rem; 
    }
    footer .row {
        text-align: center;
    }
    footer svg {
        width: 30%;
        margin-left: 0;
        margin-bottom: 1rem; 
    }

}
@media only screen and (max-width: 320px){
    
    .contact form input, .contact form textarea{
        width: 15rem;
        
    }
}
