@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    src: url(../fonts/Don_Quixote.ttf);
    font-family: 'Don Quixote';
}
body {
    background-color: #141414;
    overflow-x: hidden;
}
/*Nav*/

nav {
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: 2rem;
    color: white;
    
}

.logo a {
    text-emphasis: none;
    color: rgb(226, 226, 226);
    font-family: 'Don Quixote';
    font-size: 2.3rem;
    list-style: none;
    text-decoration: none;
}
.logo a:hover {
    color: rgb(255, 255, 255);
}
nav ul {

    list-style: none;
    display: flex;
    flex-direction: row;
    
}
nav ul li a{
    text-decoration: none;
    margin: 2rem;
    font-family: 'Montserrat';
    font-size: .9rem;
    font-style: italic;
    letter-spacing: 2px;
    color: rgb(139, 139, 139);
}
.links:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.burger {
    margin-top: -10px;
    display: none;

}
.burger div{
    width: 30px;
    height: 5px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 10px; 
}

/* Introduction */

.intro {
    background-color: #141414;
}
.intro .col-md-4 img {
    width: 92%;
    margin-top: 3.8rem; 
    margin-bottom: 7rem;
    opacity: 0;
    position: relative;
    animation: image 2s .5s forwards;
}
@keyframes image {
    0% {top: 5rem; opacity: 0;}
    100%{top: 0; opacity: 1;}
}
.intro .col-md-2 svg {
    text-decoration: none;
    width: 35%;
    margin-top: 11rem; 
    margin-left: 3rem;
    fill: rgb(255, 0, 0); 
    opacity: 0;
    position: relative;
    animation: button infinite 4s forwards;
}
@keyframes button {
    0%{left: 0; opacity: 0;}
    50%{left: 3rem; opacity: 1;}
    100%{left: 0; opacity: 0;}
}
.intro .col-md-6 h2 {
    color: rgb(194, 194, 194);
    font-family: 'Montserrat';
    margin-bottom: 1.5rem; 
    font-style: italic;
    margin-top: 6rem; 
    opacity: 0;
    position: relative;
    animation: text 2s .6s forwards;

}
.intro .col-md-6 h3 {
    color: rgb(170, 170, 170);
    font-family: 'Montserrat';
    margin-bottom: 1.5rem;
    font-style: italic;
    opacity: 0;
    position: relative;
    animation: text 2s .8s forwards;
}
.intro .col-md-6 p {
    color: rgb(129, 129, 129);
    font-family: 'Montserrat';
    font-style: italic;
    opacity: 0;
    position: relative;
    animation: text 2s .9s forwards;
    
}
@keyframes text {
    0% {top: 5rem; opacity: 0;}
    100%{top: 0; opacity: 1;}
}



/* Footer */

footer {
    background-color: #141414;
}
footer .row {
    display: flex;
    justify-content: space-between;
    
}

footer .col-md-3 {
    margin-right: -5rem;
    color: rgb(143, 143, 143);
   
}

footer ul {
    list-style: none;
    display: flex;
  
}

footer svg {
    width: 30%;
    margin-left: -5rem;
}
footer svg:hover {
    position: relative;
    animation: svg .1s .1s forwards;
}
@keyframes svg {
    0% { width: 30%}
    100%{top: -1rem; width: 35%}
}

/* Projects Page */

.pro2 {
    position: relative;
    top: 0;
    display: none;
   
}
.projects {
    background-color: #141414;
    padding-bottom: 2.2rem; 
  
}
.projects .row{
    margin-top: 2rem; 
    margin-bottom: 2rem;
    
}
.projects .card {
    width: 80%;
    border: 0;
    background-image: linear-gradient(135deg,#17ECFC,rgb(94, 34, 235));
    position: relative;
    opacity: 0;
    border-radius: 20px;
    animation: cardani 2s .5s forwards;

}
@keyframes cardani{
    0% {top: 5rem; opacity: 0;}
    100%{top: 0; opacity: 1;}
}
.projects .col-md-4:hover {
    animation: cardani2;
    animation-duration: .5s;
    animation-fill-mode: forwards; 
    opacity: 1;
}
@keyframes cardani2 {
    0% {top: 0;}
    100%{top: -1.2rem; }
}
.projects i {
    margin: 2rem;
    color: rgb(248, 248, 248);
}
.projects .card h5 {
    font-family: 'Montserrat';
    font-size :  1.5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin-bottom: 1.2rem;
}
.projects .card p {
    font-family: 'Montserrat';
    font-size :  .8rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.589);
    margin-bottom: 1.2rem;
}
.projects .card a{ 
    background-image: linear-gradient(rgb(255, 213, 0),#FFE877);
    border:0;
    border-radius: 20px; 
    color: black;
    font-size: .8rem;
    margin-bottom: 1.2rem;
}



/*Contact Me Page*/


.contact h3 {
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size :  1.8rem;
    font-style: italic;
    margin-bottom: 2rem;
    opacity: 0;
    position: relative;
    animation: text;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
span {
    color: yellow;
}
.contact form input, .contact form textarea{
    color: aliceblue;
    border: 0;
    background-color: #141414;
    border-bottom: 2px rgba(255, 255, 255, 0.397) solid;
    width: 35rem;
    margin-top: 1.5rem;
    opacity: 0;
    position: relative;
    animation: text;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}
.contact form button {
    background-color: yellow;
    border: 0;
    border-radius: 5rem;
    width: 5rem;
    height: 2rem;
    color: #141414;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size :  .8rem;
    font-style: italic;
    margin-top: 1rem; 
    margin-bottom: 2rem; 
    opacity: 0;
    position: relative;
    animation: text;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


