*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #141414;
}
/*Nav*/

nav {
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: 2rem;
    color: white;
    
}

.logo a {
    text-emphasis: none;
    color: rgb(226, 226, 226);
    font-family: 'Don Quixote';
    font-size: 2.3rem;
    list-style: none;
    text-decoration: none;
}
.logo a:hover {
    color: rgb(255, 255, 255);
}
nav ul {

    list-style: none;
    display: flex;
    flex-direction: row;
    
}
nav ul li a{
    text-decoration: none;
    margin: 2rem;
    font-family: 'Montserrat';
    font-size: .9rem;
    font-style: italic;
    letter-spacing: 2px;
    color: rgb(139, 139, 139);
}
.links:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Introduction */

.intro {
    background-color: #141414;
}
.intro .col-md-4 img {
    width: 92%;
    margin-top: 3.8rem; 
    margin-bottom: 7rem;
    opacity: 0;
    position: relative;
    animation: image 2s .5s forwards;
}
@keyframes image {
    0% {top: 5rem; opacity: 0;}
    100%{top: 0; opacity: 1;}
}
.intro .col-md-2 svg {
    text-decoration: none;
    width: 35%;
    margin-top: 11rem; 
    margin-left: 3rem;
    fill: rgb(255, 0, 0); 
    opacity: 0;
    position: relative;
    animation: button infinite 4s forwards;
}
@keyframes button {
    0%{left: 0; opacity: 0;}
    50%{left: 3rem; opacity: 1;}
    100%{left: 0; opacity: 0;}
}
.intro .col-md-6 h2 {
    color: rgb(194, 194, 194);
    font-family: 'Montserrat';
    margin-bottom: 1.5rem; 
    font-style: italic;
    margin-top: 4.5rem; 
    opacity: 0;
    position: relative;
    animation: text 2s .6s forwards;

}
.intro .col-md-6 h3 {
    color: rgb(170, 170, 170);
    font-family: 'Montserrat';
    margin-bottom: 1.5rem;
    font-style: italic;
    opacity: 0;
    position: relative;
    animation: text 2s .8s forwards;
}
.intro .col-md-6 p {
    color: rgb(129, 129, 129);
    font-family: 'Montserrat';
    font-style: italic;
    opacity: 0;
    position: relative;
    animation: text 2s .9s forwards;
    
}
@keyframes text {
    0% {top: 5rem; opacity: 0;}
    100%{top: 0; opacity: 1;}
}



/* Footer */

footer {
    background-color: #141414;
}
footer .row {
    display: flex;
    justify-content: space-between;
    
}
footer .col-md-5 {
    margin-left: -5rem;
   
}
footer .col-md-3 {
    margin-right: -5rem;
    color: rgb(143, 143, 143);
   
}

footer ul {
    list-style: none;
    display: flex;
  
}

footer svg {
    width: 30%;
    
}
footer svg:hover {
    position: relative;
    animation: svg .1s .1s forwards;
}
@keyframes svg {
    0% { width: 30%}
    100%{top: -1rem; width: 35%}
}

/* Projects Page */


.projects {
    background-color: #141414;
    padding-bottom: 2.2rem; 
}
.projects .row{
    margin-top: 2rem; 
    
}

.projects .col-md-5 .card {   
   background-image: linear-gradient(rgb(53, 53, 53),rgb(26, 26, 26));
   width: 90%;
   height: 195px;
}
.projects .col-md-5 .card h5 {   
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 1.8rem;
    font-style: italic;
    margin-top: 2rem; 
}    
